{
  "ConnectionStrings": {
    "DefaultConnection": "Server=server-produccion;Database=ProyectHubDb;User Id=usuario;Password=password;TrustServerCertificate=True;"
  },
  "Frontend": {
    "Url": "https://url-produccion-frontend"
  },
  "Jwt": {
    "Key": "key-secreta",
    "Issuer": "ProyectHubLocal",
    "Audience": "ProyectHubUsers"
  }
}
